:root {
  --slate-color:var(--SLATE, #434455);
  --iris-color: var(--IRIS, #4D5AE5);
  --white-color:var(--WHITE, #FFF);
    --navy-blue-color:var(--NAVY-BLUE, #2E2F42);
    --cloud-color: var(--CLOUD, #F4F4FD);
    --moderate-blue-color:var(--MODERATE-BLUE, #404BBF); 
--cornflower-color:var(--CORNFLOWER, #E7E9FC); 
} 


.title {
    color: var(--navy-blue-color);
    font-weight: 500;
    font-style: normal;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.text {
    font-weight: 400;
    color: var(--slate-color);
    font-style: normal;
}
.text-footer {
    color: var(--cloud-color);
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}
.head-title {
    color: var(--navy-blue-color);
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.web-studio {
    color: var(--iris-color);
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 0.03em;
line-height: 1.17;
margin-right: 76px;
}

.studio {
    color: var(--navy-blue-color);
}
.footer-studio {
    color: var(--cloud-color);
}
.footer {
    background: var(--navy-blue-color);

}
.item {
background-color: var(--navy-blue-color);
height: 37.5rem;
flex-shrink: 0;
}
.button {
background-color: var(--iris-color);
color: var(--white-color);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5rem;
letter-spacing: 0.04rem;
cursor: pointer;
text-align: center;
}
.button:hover {
    background-color: var(--moderate-blue-color);
}
.button:focus {
    background-color: var(--moderate-blue-color);
}
.headline-main {
    color: var(--white-color);
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.portfolio-button {
    background: var(--cloud-color);
    color:var(--iris-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
}
.button-type {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    background: var(--cloud-color);
    color:var(--iris-color);
    cursor: pointer;
}
.button-type:hover {
    color: var(--white-color);
}
.button-type:focus {
    color: var(--white-color);
}


.portfolio-button-all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color:var(--cloud-color);
}
.portfolio-button-all:hover {
    background-color:var(--moderate-blue-color);
}
.portfolio-button-all:focus {
    background-color:var(--moderate-blue-color);
    cursor: pointer;
}
.portfolio-button:hover {
    background: var(--iris-color);
    color: var(--white-color);
    }
.portfolio-button:focus {
background: var(--iris-color);
color: var(--white-color);
}
.contact {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate-color);
    font-weight: 400;
}

.contact:hover {
    color:var(--moderate-blue-color);
}
.contact:focus {
    color:var(--moderate-blue-color);
}

.header-nav {
    color:var(--navy-blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container-menu {
    display: flex;
    gap: 40px;
}
.container-menu-link {
    padding: 24px 0;
}
.container-address {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
.container-address-mail {
    display: flex;
    gap: 40px;
    margin-left: 40px;
}
.container-address-phone {
    margin-right: 0;
}
.header-nav:hover {
    color:var(--moderate-blue-color);
}
.header-nav:focus {
    color:var(--moderate-blue-color);
}
.menu:hover {
color:var(--moderate-blue-color);
}
.strategy-header {
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.strategy-text { 
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.your-team {
    background-color:var(--white-color);
}
.portfolio-list {
    list-style: none;
}
.app-phone-header {
    color:var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.app-phone-text {
    color:var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    font-style: normal;
}
.head-team {
    background-color: var(--cloud-color);
}
.container {
    display: flex; 
}
.container-header {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-nav {
    display: flex;
    align-items: center;
}
.page-header,
.section {
padding-top: 20px;
padding-bottom: 20px;
} 
h1, 
h2, 
p {
    margin:0;
}
.strategy-display {
    display: none;
}
.page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC); 
    display: flex;
align-items: center;
justify-content: space-between;
}
.section {
    display: flex;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px ;
    text-align: center;
}
ul,
p,
h1,
h2 {
    display: block;
}